<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ru.lab.lab5">

    <application
        android:name="ru.lab.kotlin.LabApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Lab1">
        <activity
            android:name="ru.lab.kotlin.ui.animation.AnimationActivity"
            android:exported="false" />
        <activity
            android:name="ru.lab.kotlin.ui.settings.SettingsActivity"
            android:exported="false" />
        <activity
            android:name="ru.lab.kotlin.ui.service.ServiceActivity"
            android:exported="true" />
        <activity
            android:name="ru.lab.kotlin.ui.main.OpenBrowserActivity"
            android:exported="true" />
        <activity
            android:name="ru.lab.kotlin.ui.main.IntentCatcher"
            android:parentActivityName="ru.lab.kotlin.ui.main.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.SEND" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="text/plain" />
            </intent-filter>
        </activity>
        <activity
            android:name="ru.lab.kotlin.ui.main.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="ru.lab.kotlin.ui.result.ResultActivity"
            android:parentActivityName="ru.lab.kotlin.ui.main.MainActivity" />

        <service
            android:name="ru.lab.kotlin.service.PlayService"
            android:enabled="true"
            android:exported="true"
            android:process=":ServiceProcess" />
    </application>

</manifest>